pandas~=1.0.3
xlrd~=1.2.0
numpy~=1.18.3
scikit-learn~=0.23.1
matplotlib~=3.2.1
nltk~=3.5
pyyaml~=5.3.1
allennlp~=0.9.0
tensorflow~=2.1.1
transformers~=2.9.1
tqdm~=4.46.0
torch~=1.5.0
torchvision~=0.6.0

# optional:
#cudatoolkit~=10.1
