<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="input" value="C:\Users\Patrik\Documents\MASTER FRI\Predmeti\NLP\NLP_Project_Kojanec_Rus\data\*.*" />
        <add key="includeSubfolders" value="false" />
        <add key="overwriteFiles" value="false" />
        <add key="output" value="C:\Users\Patrik\Documents\MASTER FRI\Predmeti\NLP\NLP_Project_Kojanec_Rus\src\Patrik\Lemmatized_data" />
        <add key="taggerFile" value="C:\Users\Patrik\Documents\MASTER FRI\Predmeti\NLP\NLP_Project_Kojanec_Rus\src\Patrik\ObeliksLatest\TaggerModel.bin" />
        <add key="lemmatizerFile" value="C:\Users\Patrik\Documents\MASTER FRI\Predmeti\NLP\NLP_Project_Kojanec_Rus\src\Patrik\ObeliksLatest\LemmatizerModel.bin" />
    </appSettings>
</configuration>